@import '/src/styles/shared.module.scss';

.Day {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;   
    align-items: center;
    overflow: hidden;
    // min-height: calc(100vh - 30px);
    height: calc(100svh - $header-height - $footer-height - 64px);
}

.TaskWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
    margin-bottom: 20px;
}

.Task {
    font-size: 36px;
    font-weight: bold;
    padding: 5px;

    .Grey & {
      color: $red-color
    }

    .Yellow & {
      color: $green-color;
    }

    .Green & {
      color: $yellow-color;
    }

    .Red & {
      color: $grey-color;
    }

    .Orange & {
      color: $green-color;
    }
}

.LogoWrap {
  height: 150px;
  margin-bottom: 20px;
}

.Logo {
  height: 150px;

    .Grey & {
      fill: $green-color;
    }

    .Yellow & {
      fill: $red-color;
    }

    .Green & {
      fill: $red-color;
    }

    .Red & {
      fill:$yellow-color;
    }

    .Orange & {
      fill: $grey-color
    }
}

.Hint {
  font-size: 24px;
  margin-bottom: 10px;

  .Green &,
  .Red &,
  .Orange & {
        color: $white-color;
    }
}

.Form {
  display: flex;
  justify-content: center;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Input {
  margin-bottom: 10px;
  // background-color: ;
  // border: none;
  // border-bottom: 3px solid ;
  outline: none;
  // display: flex;
  // justify-content: center;
  font-size: 28px;
  text-align: center;

  border: 2px solid;
  border-radius: 28px;
  // width: 100%;

  // .Grey & {
  //     border: 2px solid $red-color;
  //   }

  //   .Yellow & {
  //     color: $green-color;
  //   }

  //   .Green & {
  //     color: $yellow-color;
  //   }

  //   .Red & {
  //     color: $grey-color;
  //   }
}

.Submit {
  // width: 60px;
  // height: 40px;

  background-color: transparent;
  position: relative;
  // right: 10px;
  // top: 50%;
  // transform: translateY(-50%);
  // border: none;
  // background: none;
  // cursor: pointer;
  // padding: 5px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 30px;
  // width: 30px;
  // background-color: #f0f0f0; /* Button background color */
  border-radius: 20px; /* Optional: make the button circular */
  transition: background-color 0.3s;
  border: none;

  //  .Grey & {
  //     background-color: $red-color
  //   }

    .Yellow & {
      color: $green-color;
    }

    .Green & {
      color: $yellow-color;
    }

    .Red & {
      color: $grey-color;
    }

    // border: 1px solid;

  // &:hover {
  //   // background-color: #e0e0e0; /* Change color on hover */
  //   fill: green;
  // }

  // &:active {
  //   background-color: #d0d0d0; /* Change color on active click */
  // }
}

.Svg {
  width: 100px; /* Adjust icon size */
  height: 100px;

    .Grey & {
      fill: $red-color;
    }

        .Yellow & {
      fill: $orange-color;
    }

    .Green & {
      fill: $grey-color;
    }

    .Red & {
      fill: $green-color;
    }

    .Orange & {
      fill: $red-color;
    }
}

.Mark {
  position: absolute;
  color: $green-color;
  font-size: 52px;
  font-weight: bold;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  fill: $green-color;

    .Grey & {
      fill: $green-color;
    }

    .Yellow & {
      fill: $green-color;
    }

    .Green & {
      fill: $red-color;
    }

    .Red & {
      fill: $yellow-color;
    }

    .Orange & {
      fill: $green-color;
    }
}

.Stash {
  // visibility: hidden;
  // opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 36px;
    font-weight: bold;
    padding: 5px;

    .Grey & {
      color: $red-color
    }

    .Yellow & {
      color: $green-color;
    }

    .Green & {
      color: $yellow-color;
    }

    .Red & {
      color: $grey-color;
    }

    .Orange & {
      color: $green-color;
    }
}

.Stash.visible {
  visibility: visible;
  opacity: 1;
}

.Stash.hidden {
  visibility: hidden;
  opacity: 0;
}

.ErrorMessage {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.Stash {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.ShrinkAnimation {
  animation: shrink-disappear 2s forwards;
}

@keyframes shrink-disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.ShakeAnimation {
  // animation: shake 0.5s ease-in-out;
  animation: shake 0.2s ease-in-out 0s 2;
}




