@import "/src/styles/shared.module.scss";

.Day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  // min-height: calc(100vh - 30px);
  height: calc(100svh - $header-height - $footer-height - 64px);
}

.TaskWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // height: 100px;
  margin: 20px 0;
}

.Task {
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  color: $red-color;
}

.LongTask {
  font-size: 32px;
}

.Text {
  font-size: 24px;
}

.Password {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Hint {
  font-size: 24px;
  margin-bottom: 10px;
}

.InputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // padding-right: 20px;
}

.Input {
  width: 60%;
  // margin-right: 10px;
  background-color: #efe5dc;
  // border: none;
  // border-bottom: 3px solid ;
  outline: none;
  // display: flex;
  // justify-content: center;
  font-size: 28px;
  text-align: center;

  border: 4px solid;
  // border-radius: 28px;
  border-image: repeating-linear-gradient(
      135deg,
      #1e4b5f,
      #1e4b5f 5px,
      transparent 5px,
      transparent 7px,
      #7a231d 7px,
      #7a231d 12px,
      transparent 12px,
      transparent 14px
    )
    5;
  // width: 100%;

  // .Grey & {
  //     border: 2px solid $red-color;
  //   }

  //   .Yellow & {
  //     color: $green-color;
  //   }

  //   .Green & {
  //     color: $yellow-color;
  //   }

  //   .Red & {
  //     color: $grey-color;
  //   }
}

.SubmitButton {
  position: absolute;
  left: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  gap: 2px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.Arrow {
  position: relative;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  animation: arrow-load 1.6s infinite;
}

.Arrow:nth-child(1) {
  // left: 5px;
  // animation-delay: -0.5s;
}

.Arrow:nth-child(2) {
  right: 5px;
  animation-delay: 0.4s;
}

.Arrow:nth-child(3) {
  right: 10px;
  animation-delay: 0.8s;
}

.Arrow:nth-child(4) {
  right: 15px;
  animation-delay: 1.2s;
}

.RedArrow {
  border-top: 3px solid #a53737;
  border-right: 3px solid #a53737;
}

.BlueArrow {
  border-top: 3px solid #1e4b5f;
  border-right: 3px solid #1e4b5f;
}

@keyframes arrow-load {
  0% {
    opacity: 0;
  }

    50% {
    opacity: 1;
  }

    100% {
    opacity: 0;
  }
}
