@import "/src/styles/shared.module.scss";

.Day {
  height: calc(100svh - $header-height - $footer-height - 64px);
  margin-top: calc($header-height + 10px);
  margin-bottom: calc($footer-height + 10px);
}

.Logo {
   width: 300px;
  margin-bottom: 20px;
}

.Ho {
  font-size: 40px;
}

.Text {
  font-size: 36px;
}

.Ho,
.Text {
  font-weight: 800;
color: #1e4b5f;
}
