.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in;
}

.Modal {
  // background-color: #efe5dc;
  background-image: url('../../images/img/cover.png');
  background-size: cover;
  padding: 30px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: rotateScale 1.5s ease-out;
  border: 7px solid;
  border-image: repeating-linear-gradient(
      135deg,
      #1e4b5f,
      #1e4b5f 15px,
      transparent 15px,
      transparent 20px,
      #7a231d 20px,
      #7a231d 35px,
      transparent 35px,
      transparent 40px
    )
    10;

    transform: rotate(1085deg);
}

.ModalClosing {
  animation: rotateScaleReverse 1.5s ease-in forwards;
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  // transform: rotate(15deg);

  img {
    width: 30px;
    height: 30px;

    fill: red;
  }

  &:hover {
    transform: scale(1.2) rotate(15deg);
  }
}

.ModalContent {
  text-align: center;
}

.ModalTitle {
  font-size: 40px;
  font-weight: bold;
  color: #1e4b5f;
  margin-bottom: 20px;
}

.ErrorTitle {
  color: #a53737;
}

.ModalText {
  font-size: 28px;
  font-weight: bold;
  color: #7a231d;
  line-height: 1.5;
}

.ErrorText {
  color: #1e4b5f;
}

.HintImage {
  max-width: 100%;
  max-height: 300px;
  margin: 20px auto 0;
  border-radius: 10px;
  object-fit: contain;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateScale {
  0% {
    transform: scale(0) rotate(0deg);
    // opacity: 0;
  }
  100% {
    transform: scale(1) rotate(1085deg);
    // opacity: 1;
  }
}

@keyframes rotateScaleReverse {
  0% {
    transform: scale(1) rotate(1085deg);
    // opacity: 1;
  }
  100% {
    transform: scale(0) rotate(0deg);
    // opacity: 0;
  }
}
