@import '/src/styles/shared.module.scss';

.Calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

   width: 100%;

   margin: 10px 20px;
}

.Day {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    aspect-ratio: 0.85;

    overflow: hidden;
    
    border-radius: $day-radius;

    transition: all $transition-duration $timing-function;

    &:hover {
        transform: scale(1.05);
    }


    &.Grey {
        background-color: $grey-color;
        color: $red-color;
    }

    &.Yellow {
        background-color: $yellow-color;
        color: $green-color;
    }

    &.Green {
        background-color: $green-color;
        color: $yellow-color;
        fill: $white-color;
    }

    &.Red {
        background-color: $red-color;
        color: $grey-color;
        fill: $white-color;
    }

    &.Orange {
        background-color: $orange-color;
        color: $white-color;
        fill: $green-color;
    }
}

.Link {
    width: 100%;
    height: 100%;
}

.Date {
    position: absolute;

    font-size: 150%;
    line-height: 1;


    &.LeftTop {
        top: 5%;
        left:13%;
    }

    &.LeftBottom {
        bottom: 10%;
        left: 10%
    }

    &.RightTop {
        top: 5%;
        right: 25%;
    }

    &.RightBottom {
        bottom: 10%;
        right: 15%;
    }

    &.Top {
        left: 45%;
        transform: translateX(-50%);
    }

    &.Bottom {
        bottom: 1%;
        left: 45%;
        transform: translateX(-50%);
    }
}

.Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    aspect-ratio: 1;

    &.Small {
        // height: $day-height/1.4;
        height: 70%;
    }

    &.Medium {
        // height: $day-height/1.5;
        height: 65%;
    }

    &.Big {
        // height: $day-height/1.7;
        height: 55%;
    }

    &.Top {
        top: 40%;
    }

    &.Bottom {
        top: 60%;
    }

    &.Right {
        left: 55%;
    }

    &.Left {
        left: 40%;
        top: 55%;
    }

    &.RightTop {
        top: 43%;
        left: 60%
    }
}