@import '/src/styles/shared.module.scss';

.App {
  text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

main {
  max-width: 600px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  font-size: 45px;
  color: white;

}
.App-header::after {
  content:'';
  width: 137px;
  height: 60px;
  background-image: url("./images/img/omela.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

